@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600&family=Inter:wght@200;300;400;500;600&display=swap');

/* font-family: 'Geologica', sans-serif;
font-family: 'Inter', sans-serif;
#E4572E
#508484
#000001
#AA4586
#F5F5F5
#db8070
#545454
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Geologica', sans-serif; ;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/imgproducto/ovejashorizon.jpg);
    background-size: cover;
}


.container_form {
    height: 500px;
    max-width: 900px;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.5);
    transition:all 1s ease;
    margin: 50px;
}

.information {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #508484;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.info_childs {
    width: 100%;
    padding: 0 30px;
}

.info_childs h2 {
    font-size: 1.9rem;
    color: #000001;
    letter-spacing: 1px;
}

.info_childs p {
    margin: 15px 0;
    font-size: 1.0rem;
    color: #000001 ;
    letter-spacing: 1px;
}

.info_childs input {
    background-color: transparent;
    outline: none;
    border: solid 2px #254a4a;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 03s ease;
    letter-spacing: 1px;
}

.info_childs input:hover {
    background-color: #508484;
    border: solid 2px transparent;
    color: #f5f5f5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.form_information {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #f5f5f5;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form_information_childs {
    padding: 0 30px;
}

.form_information_childs h2 {
    color: #000001;
    font-size: 2rem;
    letter-spacing: 1px;
}

.form_info_childs p {
    color: #254a4a;
    letter-spacing: 1px;
}

.icons {
    margin: 15px 0;
}

.icons i {
    border-radius: 50%;
    padding: 15px;
    margin: 0 10px;
    color: #254a4a;
    cursor:pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 12px;
}


.icons i:hover {
    background-color: #508484;
    color: #f5f5f5;
}

.form {
    margin: 30px 0 0 0;
}

.form label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: aliceblue;
    border: solid thin #db8070;
} 

.form label input {
    width: 100%;
    background-color: aliceblue;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #254a4a;
    letter-spacing: 1px;
    font-size: 0.9rem;
}

.form label i {
    color: #254a4a;
    margin-right: 8px;
}

.form input[type="submit"] {
    background-color: #508484;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
}

.hide {
    position:absolute;
    transform: translate(-300%);
    -webkit-transform:translate(-300%);
}

.form input[type="submit"]:hover {
    background-color: #254a4a;
    color: #f5f5f5;
}



/* FOOTER */

footer {
    width: 100%;
    height: 55vh;
    background-color: #000001;
    z-index: 1;
}

.footer_content {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    color: #f5f5f5;
}

.footer_logo img {
    height: 100px;
}

.footer_content .footer_card {
    display: flex;
    flex-direction: column;
    margin: 25px;
    color: #db8070;
}

.footer_content .footer_card h4 {
    font-size: 1.1rem;
    letter-spacing: 1px;
    border-bottom: 2px solid #545454;
    padding-bottom: 15px;
}

.footer_card .footer_social {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_social a {
    color: #db8070;
    font-size: 0.9rem;
}

.footer_social i {
    color: #545454;
    margin-left: 5px;
    margin-right: 8px;
}

.footer_card p {
    font-size: 1rem;
}

.footer_card .footer_form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer_form form p {
    margin-top: 10px;
    margin-bottom: 15px;
} 

.footer_form form label {
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.footer_form form input {
    width: 80%;
    padding: 8px;
    border: 2px solid transparent;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 15px;
    outline: none;
}

.footer_form form a {
    border: solid 2px transparent;
    background-color: #db8070;
    padding: 10px;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 1rem;
    letter-spacing: 2px;
    color: #000001;
    box-shadow: 0px 4px 4px 2px #111111;
    transition: 0.2s;
}

.footer_form form a:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

/* FIN FOOTER */

@media (max-width:1220px) {
    footer {
        width: 100%;
        height: 60vh;
    }
    .footer_content {
        display: flex;
        width: 100%;
    }
    .footer_content .footer_card {
        margin: 10px;
    }
}

@media (max-width:769px) {
    html {
        font-size: 12px;
    }

    footer {
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
    }

    .footer_content .footer_card {
        display: flex;
        flex-direction: column;

    }

}

@media (max-width:600px) {
    footer {
        width: 100%;
        height: 100vh;
        margin-top: 10px;
    }
    .footer_content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 200vh;
        background-color: #000001;
    }
}

@media (max-width:580px) {
    html {
        font-size: 10px;
    }

    .container_form {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .information {
        width: 100%;
        padding: 20px;
        border-top-left-radius:  20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .form_information {
        width: 100%;
        padding: 20px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

    }
}
