@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600&family=Inter:wght@200;300;400;500;600&display=swap');

/* font-family: 'Geologica', sans-serif;
font-family: 'Inter', sans-serif;
#E4572E
#508484
#000001
#AA4586
#F5F5F5
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    max-width: 100%;
    font-family:'Geologica', sans-serif;
    background: #f5f5f5;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}

.overlay {
    position: absolute;
    top: 65px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background-color: rgba (255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
}

/* NAVBAR */

 .logo img {
    width: 190px;
}

a {
    text-decoration: none;
}
li {
    list-style: none;
    border-bottom: 2px solid transparent;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background: #f5f5f5;
    box-shadow: #000001 0px 4px 8px;
    position:fixed;
    z-index: 1;
    top: 0;
    height: 80px;
}

.navbar a {
    color: #db8070;
    font-size: 18px;
}


.menu {
    display: flex;
    gap: 60px;
    margin-right: 50px;
}

.menu li:hover {
    border-bottom: 2px solid #508484;
    transition: 0.2s ease;
}

/* responsive nav */

input[type=checkbox] {
    display: none;
}

.hamburguer {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* CARRITO */

.cart_fav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.cart_fav i {
    color:#545454;
}

/* FIN NAVBAR */


/* HERO */

#hero {
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img_hero img {
    height: 400px;
    padding: 20px;
    border-radius: 40px;
}

#hero .hero_title {
    font-size: 55px;
    letter-spacing: 3px;
    font-weight: 500;
    margin-top: 80px;
}

#hero .hero_h2 {
    font-size: 1.5rem;
    width: 60%;
    margin-top: 60px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

#hero p {
    font-size: 1.1rem;
    margin-top: 50px;
    letter-spacing: 2px;
}

.btn_hero {
    display: flex;
    justify-content: center;
    text-align: center;
}

.hero_btn {
    display: block;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 2px;
    border: 2px solid #545454;
    width: 30%;
    padding: 10px;
    border-radius: 50px;
    background-color: #545454;
    color: #db8070;
    transition: 0.2s;
}

.hero_btn:hover {
    box-shadow: #000001 0px 4px 8px;
    transition: 0.2s;
}

/* END HERO */

/* SERVICE */

#service {
    width: 100%;
    margin-top: 20px;
    background-color: #000001;
}

.service_title {
    color: #f5f5f5;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 0.9rem;
}

.service_content {
    display: flex;
    gap: 30px;
    justify-content: center;
    text-align:center;
    align-items: stretch;
    margin-top: 20px;
    flex-wrap: wrap;
}


.service {
    width: 20%;
    padding: 10px;
}

.service i {
    font-size: 25px;
    color: #db8070;
    margin-bottom: 25px;
}

.service h4 {
    color: #f5f5f5;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.service p {
    color: #545454;
    display:flex;
    text-align: justify;
    font-size: 0.8rem;
    hyphens: auto;
    letter-spacing: 1px;
}


/* END SERVICE */

/* ABOUT */

#aboutus {
    margin-top: 1px;
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    font-family: 'Inter', sans-serif;
}

.img_about img{
    height: 400px;
    margin: 20px;
    border-radius: 90px;
    filter: brightness(110%);
    box-shadow: 0px 4px 4px 2px #545454;
}

.about_content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_text {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:baseline;
    text-align: justify;
    padding: 70px;
}

.about_title h3 {
    font-size: 2.1rem;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 4px #545454;
    
}

.about_h5 {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 10px;
    hyphens: auto;
}

.about_p {
    font-size: 1.2rem;
    font-weight: 300;
    hyphens: auto;
}

.about_p span {
    color: #db8070;
    font-weight: 500;
    font-family: cursive;
    font-size: 1.3rem;
}

.about_p2 {
    margin-top: 20px;
}

.about_btn {
    margin: 0 auto;
    margin-top: 25px;
    border: solid 2px #db8070 ;
    background-color: #db8070;
    padding: 11px;
    border-radius: 25px;
    transition: 0.2s ease;
    box-shadow: 0px 4px 4px 2px #545454;
}

.about_btn a {
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 20px;
    text-decoration: none;
    color: #000001;
    letter-spacing: 1px;
}

.about_btn:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
    cursor: pointer;
}

/* END ABOUT */

/* FILTRO */

#productos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

#productos h2 {
    font-size: 2.1rem;
    font-weight: 500;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.categories {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
}

.categories button {
    padding: 10px;
    background-color: #545454;
    border: 2px transparent;
    cursor: pointer;
    border-radius: 8px;
    color: #f5f5f5;
    font-size: 0.9rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-family: cursive;
    box-shadow: 0px 4px 9px 2px #545454;
}

.categories .active {
    background-color: #db8070;
}

.btn_load {
    border: 2px transparent;
    background-color: #545454;
    padding: 10px;
    margin-top: 40px;
    border-radius: 10px;
    color: #f5f5f5;
    font-size: 0.8rem;
    cursor: pointer;
    letter-spacing: 1px;
}

.btn_load:hover {
    box-shadow: 0px 4px 10px 2px #545454;
    background-color: #db8070;
}

.parent {
    margin-top: 50px;
    background: #f5f5f5;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    background-color:rgba(0, 0, 0, 0.02);
}

.card_parent {
    background-color: #f5f5f5;
    width: 16%;
    text-align: center;
    padding: 10px 10px 10px;
    border-radius: 5px;
    border: 2px solid;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.card_parent:hover {
    background-color:rgba(0, 0, 0, 0.02);
    border: 2px solid #E4572E;
}


.card_parent img {
    width: 90%;
    border-radius: 20px;
    transition: 0.3s ease;
}

.card_parent img:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

.fav_filter {
    display: flex;
    justify-content:space-between;
    align-items: center;
}


.card_parent p {
    margin-top: 8px;
    font-size: 0.8rem;
    font-weight: 400;
    color: #00000aab;
}

.card_parent h4 {
    margin-top: 5px;
    font-size: 0.8rem;
}

.card_parent h2 {
    margin-top: 2px;
    margin-bottom: 15px;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.card_parent h2 span {
    font-size: 1.3rem;
    color: #aa3714;
    font-weight: 700;
}

.color  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #000001;
}

.color button{
    font-size: 0.6rem;
    font-weight: 600;
    width: 20%;
    border: 2px solid transparent;
    border-radius: 80px;
    padding: 5px;
    cursor: pointer;
}

.color button:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.color button:focus {
    border: 2px solid #E4572E;
}

.color button:first-child {
    background-color: #f5f5f5;
}

.color button:nth-child(2) {
    background-color: #c995b7;
}

.color button:nth-child(3) {
    background-color: rgb(212, 53, 53);
}


.a_compra {
    font-size: 0.7rem;
    text-decoration: none;
    color: #f5f5f5;
    background-color: #E4572E;
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    padding: 5px;
}

.a_compra:hover {
    background-color: #aa3714;

}


/* FOOTER */

footer {
    width: 100%;
    height: 50vh;
    background-color: #000001;
}

.footer_content {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    color: #f5f5f5;
}

.footer_logo img {
    height: 100px;
}

.footer_content .footer_card {
    display: flex;
    flex-direction: column;
    margin: 25px;
    color: #db8070;
}

.footer_content .footer_card h4 {
    font-size: 1.1rem;
    letter-spacing: 1px;
    border-bottom: 2px solid #545454;
    padding-bottom: 15px;
}

.footer_card .footer_social {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_social a {
    color: #db8070;
    font-size: 0.9rem;
}

.footer_social i {
    color: #545454;
    margin-left: 5px;
    margin-right: 8px;
}

.footer_card p {
    font-size: 1rem;
}

.footer_card .footer_form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer_form form p {
    margin-top: 10px;
    margin-bottom: 15px;
} 

.footer_form form label {
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.footer_form form input {
    width: 80%;
    padding: 8px;
    border: 2px solid transparent;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 15px;
    outline: none;
}

.footer_form form a {
    border: solid 2px transparent;
    background-color: #db8070;
    padding: 10px;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 1rem;
    letter-spacing: 2px;
    color: #000001;
    box-shadow: 0px 4px 4px 2px #111111;
    transition: 0.2s;
}

.footer_form form a:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

/* FIN FOOTER */
/* MEDIA Queries */

@media (max-width:1220px) {
    .navbar {
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
    }
    .img_hero img {
        height: 400px;
    }

    footer {
        width: 100%;
        height: 60vh;
    }
    .footer_content {
        display: flex;
        width: 100%;
    }
    .footer_content .footer_card {
        margin: 10px;
    }
}

@media (max-width:1024px) {
    .navbar {
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
    }
    
    .menu {
        display: flex;
        margin-right: 10px;
        gap: 25px ;
    }

    #hero {
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/imghero/hiladosblancos2.jpg);
        background-position: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 80px;
        height: 65vh;
    }

    .img_hero {
        display: none;
    }

    .hero_title {
        color: #f5f5f5;
    }

    .hero_h2 {
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        color: #f5f5f5;
    }

    .hero_content p {
        color: #f5f5f5;
    }


    #service {
        background: #f5f5f5;
    }


    .service_title {
        color: #000001;
        font-weight: 600;
    }
    .service_content {
       margin-top: 1px;
       background: #f5f5f5;width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .service_content h4 {
        color: #000001;
    }

    .img_about {
        width:50%;
        display: flex;
        justify-content: center;
    }

    .about_content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
   
}

@media (max-width:600px) {
    .navbar {
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
    }


    .service {
        width: 100%;
        display:block;
        justify-content: center;
        text-align: center;
        align-items: center;
        align-content: flex-start;
        padding: 70px;
    }
    .service_content {
        display: flex;
        flex-direction:column;
    }

    #hero {
        width: 100%;
        height: 70vh;
    }

    .hero_btn {
        padding: 15px;
        width: auto;
        position:absolute;
    }
    .hero_h2 {
        width: 100%;
        padding: 10px;
    }
    #service {
        background: #f5f5f5;
    }

    .service_title {
        color: #000001;
        font-weight: 600;
    }
    .service_content {
        width: auto;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .service p {
        display: flex;
        width:100%;
        hyphens:auto;
        align-items: center;
        text-align: center;
        justify-content: center;
        hyphens: auto;
    }


    footer {
        width: 100%;
        height: 200vh;
        margin-top: 10px;
    }
    .footer_content {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 200vh;
        background-color: #000001;
    }
}




@media (max-width:769px) {

    .navbar {
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
    }
    .menu{
        display: none;
        position: absolute;
        background-color: #545454;
        left: 0;
        right: 0;
        width: 100%;
        text-align:justify;
        padding: 20px;
        padding-top: 50px;
        margin-top: 30px;
        height: calc(100% - 85px );
        letter-spacing: 2px;
        position: fixed;
        z-index: 1;
    }

    .menu li a {
        color: #000001;

    }

    .menu li a:hover {
        display: block;
        transform: translate(0, -2px);
        transition: 1s;
    }



    .menu li:hover {
        display: inline-block;

    }

    .menu li + li {
        margin-top: 50px;
    }

    input[type= checkbox]:checked ~ .menu {
        display: block;
        transition: 0.3s ease-in;
    }

    .hamburguer {
        display: block;
        margin-right: 50px;
    }

    #hero {
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/imghero/hiladosblancos2.jpg);
        background-position: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 50px;
        height: 75vh;
    }

    .img_hero {
        display: none;
    }

    .hero_content {
        padding: 20px;
    }

    .hero_title {
        color:#f5f5f5;
        margin-bottom: 30px;
    }

    .hero_h2 {
        color: #f5f5f5;
        width: 100%;
        padding: 10px;
    }

    .hero_content p {
        color: #f5f5f5;
    }

    #service {
        background: #f5f5f5;
        width: 100%;
    }

    .service_title {
        color: #000001;
        font-weight: 600;
    }

    .img_about img {
        width: 150%;
        height: auto;
    }
    

    .service p {
        display: flex;
        width:100%;
        hyphens:auto;
        text-align: center;
    }

    footer {
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
    }

    .footer_content .footer_card {
        display: flex;
        flex-direction: column;

    }
}
